body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Pour empêcher le défilement horizontal */
}

.container {
    position: relative;
    width: 100%; /* Largeur totale de la fenêtre */
    height: auto;
}

img {
    position: absolute;
    top: 80%; /* Centre l'image verticalement */
    left: 50%; /* Position initiale à droite de la fenêtre */
    transform: translate(-50%, -50%);
    animation: slideLeft 10s linear infinite; /* Appel de l'animation */
    width: 50px; /* Largeur de votre image */
    height: auto;
}

@keyframes slideLeft {
    0% {
        left: 100%; /* Début de l'animation, à droite de la fenêtre */
    }
    100% {
        left: -200px; /* Fin de l'animation, déplacé tout à gauche */
    }
}

