/***** GENERAL *****/


* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/image/background.jpg');
    background-size: cover;

}


hr {
    width: 60%;
   background-color: rgb(152, 204, 253); 
   border: none;
   height: 1px;
}


header {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#title_rect {
    margin: 0 1px 0 2px;
    background-color:rgba(24, 25, 26, 0.5);
    border-radius: 0 0 0 50%;
    width: 58%;
}

#title {
    text-align: center;
    color: rgb(152, 204, 253); 
    font-size: 35px;
}

#shop_rect {
    margin: 0 2px 0 1px;
    background-color:rgba(24, 25, 26, 0.5);
    border-radius: 0 0 50% 0;
    width: 42%;
}

#shop {
    text-align: center;
    color: rgb(152, 204, 253); 
    font-size: 35px;
    border-radius: 0 0 10% 10%;
}

main {
    margin-top: 50px;
    display: flex;
    flex: 1;
}

/***** MAIN PLANET & CLICK *****/

/*** Planet Section ***/

.click {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rect-click p {
    margin: 0px;
}

#clickCount {
    font-size: 50px;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;

}

#totalClick, #perClick{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.click-desc{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#rect-click {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 30%;
    background-color: rgba(128, 128, 128, 0.4);
    align-items: center;
    justify-content: space-around;
    margin: 5%;
    border-radius: 15%;
    border: 2px solid rgb(152, 204, 253); 
}
.button_reset{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 10px 0 10px;
    cursor: pointer;

}

/*** Click Section ***/

#div-planet {
    display: flex;
    flex: 1;
    height: 60%;
    align-items: center;
}

/***** FACILITIES & UPGRADE *****/

/* Facilities */

button {
    background-color: transparent;
}


.BonusTitle {
    color: rgb(152, 204, 253);
    margin-top: 10px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.facilities,
.upgrade {
    border: 2px solid rgb(152, 204, 253);
    background-color: rgba(10, 0, 19, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 1% 1% 1% 0;
    border-radius: 10px;
}

.facilities button,
.upgrade button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-size: 18px;
    width: 100%
}


.FU-title{
    font-weight: 600;
    color: rgb(10, 14, 19); ;
    align-items: center;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.buttonclicked {
    margin-right: 5px;
}

.div_button {
    font-size: 32px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(22, 0, 217, 0.5), rgba(255, 255, 255, 1));
    margin:10px 0 0;
    cursor: pointer;
    width: 90%;

}

#clicker {
    width: 220px;
    height: 220px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/***** ANIMATION *****/

.article-back {
    position: absolute;
    z-index: 1;
    width: 100;
}

.article-front {
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
}


/* Main Planet */

#div-animation {
    position: relative;
    width: 200px;
    height: 200px;
}

/* Background planets */

.planet2,
.planet3,
.planet4,
.planet5 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.planet2 {
    margin-top: 50px;
    width: 50px;
    height: auto;
    animation: slideLeft 20s linear infinite;
}

.planet3 {
    margin-top: 550px;
    width: 10px;
    height: auto;
    animation: slideLeft 100s linear infinite;
}

.planet4 {
    margin-top: 655px;
    width: 25px;
    height: auto;
    animation: slideLeft 55s linear infinite;
}

.planet5 {
    margin-top: 450px;
    width: 20px;
    height: auto;
    animation: slideRight 100s linear infinite;
}


@keyframes slideLeft {
    0% {
        top: 100%;
        /* Début de l'animation, à droite de la fenêtre */
    }

    100% {
        left: calc(90vw + 100px);
        /* Fin de l'animation, déplacé tout à gauche */
    }
}


@keyframes slideRight {
    100% {
        left: -90%;
    }

    0% {
        left: calc(90vw + 100px);
    }
}