body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    background-image: url('/image/background.jpg');
}

main {
    display: flex;
    flex: 1;
    
}

.click {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%; 
   
}

.rect-click {
    width: 250px;
    height: 150px;
    background-color: grey;
    opacity: 0.4;

}
.facilities, .upgrade {
    background-color: blueviolet;
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 10px;
    opacity: 0.4;
}

#clicker {
    width: 250px;
    height: 250px;
    color: brown;
    border-radius: 50%;
    cursor: pointer;
}

#clickCount {
    margin-top: 50px;
    font-size: 50px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
